.copyright
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/AngryPowman/hexo-theme-prontera";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author], powered by #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=apolloURL, target="_blank") hexo-theme-prontera].
    p 本站文章遵循 #[a(href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh") Creative Commons BY-NC-ND 4.0（自由转载-保持署名-非商用-禁止演绎）]